#instructivos .ver-pdf,
#guiasMaterias .ver-pdf {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;

  @media (min-width: 1000px) {
    display: inline-block;
    vertical-align: middle;
  }
}

#instructivos {
  .practica {
    height: auto;

    a {
      margin-bottom: 15px !important;
    }

    .btn-container {
      margin-top: 25px;
      width: 100%;
    }
  }
}
